* {
  margin: 0;
  padding: 0;
}

#heart {
  position: absolute;
  top: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: white;
  text-align: center;
  color: red;
  box-shadow: 10px 10px 30px white, -10px -10px 30px;
  font-weight: bold;
  font-family: monospace;
  font-size: 24pt;

}

#left-heart,
#right-heart {
  position: relative;
  border-radius: 50px 50px 0 0;
  width: 50px;
  height: 80px;
  background: red;
  top: -68px;
  z-index: -1;
  transform: rotate(-45deg);
  left: -10px;
}

div#right-heart {
  position: relative;
  top: -148px;
  left: 10px;
  transform: rotate(45deg);
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(211, 176, 88, 0.95);
  color: rgb(137, 87, 29);
  font-size: 32pt;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.fly {
  transition: 1s all;
  transform: translateY(-1000px);
}

#ui-box {
  border-radius: 25px;
  box-shadow: -10px -10px 25px white, 10px 10px 25px white;
  background: rgb(236, 209, 8);
  padding: 0.5em;
  text-align: center;
}

#ui>.flex-container>p {
  margin-top: 10px;
  color: rgb(235, 119, 2);
  font-size: 15pt;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
}

.start {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 1;
  display: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 10px 30px;
  height: 100%;
}

#ui .flex-container {
  flex-flow: column;
  justify-content: center;
  gap: 0;
}


.card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.content {
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.flip {
  transition: all 0.1s ease-out;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back img {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  background-color: white;
  /* box-shadow: 5px 5px 10px black; */
}

.front {
  transform: rotateY(180deg);
  /* box-shadow: 5px 5px 10px white; */
}