* {
  margin: 0;
  padding: 0;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 174, 243, 0.95);
  color: white;
  font-size: 32pt;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.fly {
  transition: 1s all;
  transform: translateY(-1000px);
}

#ui-box {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: -10px -10px 10px white, 10px 10px 10px white;
  background: rgb(160, 202, 254);
  padding: 0.5em;
}

#ui>.flex-container>p {
  color: black;
  font-size: 15pt;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
}

.start {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 1;
  display: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 10px 30px;
  height: 100%;
}

#ui .flex-container {
  flex-flow: column;
  justify-content: center;
  gap: 0;
}


.card {
  /* border: 1px solid black; */
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.content {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.flip {
  transition: all 0.3s ease-out;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back img {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  background-color: gray;
  box-shadow: 5px 5px 10px black;
}

.front {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px white;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}